

    /* <style> */
    body{
        /* background-color:#dde1e7; */
        background-color: rgb(230, 225, 220);
        /* background-color: black; */

    }
    .wrapper {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        /* position: relative; */
        /* border: 2px solid red; */
       
    }

    .container {
        /* border: 2px solid blue; */
        /* background-color: grey; */
        /* background: linear-gradient(grey,brown); */
        height: 70vh;
        width: 60%;
        display: flex;
        position: relative;
        /* align-items: center; */
        background-color: rgb(230, 225, 220);
        /* border: 2px solid red; */
        /* box-shadow: -3px -3px 7px #ffffff73, 9px 3px 5px rgba(94, blue, alpha); */
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;
        border-radius: 11px;
        font-family: 'Monoton', cursive;
        font-size: large;
    }

    .innercontainer {
        width: 50%;
    }


    .innercontainer-2 {
        /* background-color: hotpink; */
    }

    .innercontainer-1 {
        /* background-color: indianred; */
        /* background-color:rgb(134, 75, 134); */
        /* background-color:#dde1e7; */
        /* background-color: grey; */
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, blue, alpha);
    }

    .pannel {
        /* background-color: lawngreen; */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 37%;
        border-radius: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;

    }

    .pannel-3 {
        /* position: relative; */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute; */
        /* top: 10px; */
        /* box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73; */
    }

    #once {
        width: 10%;
        height: 10%;
    }
    #once-1{
        width: 10%;
        height: 10%; 
        /* background-color:azure; */
        color: chocolate;
    }

    .active {
        /* background-color: blueviolet; */
    }


    .innercontainer-2 {
        /* background-color: indianred */
        /* background-color: rgb(235, 219, 219); */
        /* background-color: rgb(182, 174, 174); */
        /* background-color: grey; */
        text-align: center;
        display: flex;
        flex-direction: column;
        /* box-shadow: -3px -3px 7px pink, 3px 3px 5px plum;  */
    }

    .pannel {
        /* background-color: lawngreen */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pannel-3 {
        /* position: relative */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute */
        /* top: 10px */
    }

/* 
    .buttons {
        background-color: chartreuse;
        position: absolute; 
        left: 370px
        position: relative;
        border: 2px solid red;
    
    }

    .button {
        background-color: coral
        margin: 1px;
        
        position: absolute
    }
    .but-1{
        position: absolute;
        right: 370px;
        top: 150px;
       
    }
    .but-2{
        position: absolute;
        right: 370px;
        top: 100px;
       
    }
    .but-3{
        position: absolute;
        right: 370px;
        top: 0px
        bottom: 45px;
       
    }
    .but-4{
        position: absolute;
        right: 370px;
        top: 0px
        bottom: 190px;
       
    } */

    .buttons {
       
        width: 0;
    
    }

    .button {
        /* background-color: coral; */
        margin: 1px;
        
        /* position: absolute; */
    }
    .but-1{
       
        position: absolute;
        top: 82%;
        right: 50%;
        width: 9%;
    }
       
    
    .but-2{
        
        position: absolute;
    top: 72%;
    right: 50%;
    width: 9%;
       
    }
    .but-3{
       
        position: absolute;
    top: 35%;
    right: 45%;
    width: 11%;
       
    }
    .but-4{
        
        position: absolute;
        top: 3%;
        right: 50%;
        width: 9%;
       
    }
    
    .klk{
        height: 35px;
        width: 196%;
    }
    

    .klk-1{
        height: 65px;
        width: 65px;
        border: 2px solid blue;
        position: relative;
        animation-name:dice;
        animation-duration: 3s;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
    }
    @keyframes dice{
        0%{
          top: 0;  
          left: 0px;
        }
        50%{
            top: 130px;
            left: 0px;

        }
        75%{
            top: 130px;
            top: 130px;
        }
    }

    .active{
        /* background-color:azure; */
        color: chocolate;
    }
/* </style> */
=======

    /* <style> */
    body{
        /* background-color:#dde1e7; */
        background-color: rgb(230, 225, 220);
    }
    .wrapper {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: relative;
       
    }

    .container {
        /* border: 2px solid blue; */
        /* background-color: grey; */
        /* background: linear-gradient(grey,brown); */
        height: 70vh;
        width: 60%;
        display: flex;
        /* position: relative; */
        /* align-items: center; */
        background-color: rgb(230, 225, 220);
        /* border: 2px solid red; */
        /* box-shadow: -3px -3px 7px #ffffff73, 9px 3px 5px rgba(94, blue, alpha); */
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;
        border-radius: 11px;
        font-family: 'Monoton', cursive;
        font-size: large;
    }

    .innercontainer {
        width: 50%;
    }


    .innercontainer-2 {
        /* background-color: hotpink; */
    }

    .innercontainer-1 {
        /* background-color: indianred; */
        /* background-color:rgb(134, 75, 134); */
        /* background-color:#dde1e7; */
        /* background-color: grey; */
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, blue, alpha);
    }

    .pannel {
        /* background-color: lawngreen; */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73;

    }

    .pannel-3 {
        /* position: relative; */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute; */
        /* top: 10px; */
        /* box-shadow: 12px 10px 15px rgb(192, 183, 183),-10px -10px 11px #ffffff73; */
    }

    #once {
        width: 10%;
        height: 10%;
    }
    #once-1{
        width: 10%;
        height: 10%; 
        /* background-color:azure; */
        color: chocolate;
    }

    .active {
        /* background-color: blueviolet; */
    }


    .innercontainer-2 {
        /* background-color: indianred */
        /* background-color: rgb(235, 219, 219); */
        /* background-color: rgb(182, 174, 174); */
        /* background-color: grey; */
        text-align: center;
        display: flex;
        flex-direction: column;
        /* box-shadow: -3px -3px 7px pink, 3px 3px 5px plum;  */
    }

    .pannel {
        /* background-color: lawngreen */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pannel-3 {
        /* position: relative */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute */
        /* top: 10px */
    }


    .buttons {
        background-color: chartreuse;
        position: absolute; 
        /* left: 370px; */
        position: relative;
    
    }

    .button {
        /* background-color: coral; */
        margin: 1px;
        
        /* position: absolute; */
    }
    .but-1{
        position: absolute;
        right: 370px;
        top: 150px;
       
    }
    .but-2{
        position: absolute;
        right: 370px;
        top: 100px;
       
    }
    .but-3{
        position: absolute;
        right: 370px;
        /* top: 0px; */
        bottom: 45px;
       
    }
    .but-4{
        position: absolute;
        right: 370px;
        /* top: 0px; */
        bottom: 190px;
       
    }
    
    .klk{
        height: 35px;
    }
    .klk-1{
        height: 65px;
        width: 65px;
        border: 2px solid blue;
    }

    .active{
        /* background-color:azure; */
        color: chocolate;
    }
/* </style> */

