
    /* <style> */
    body{
        background-color:#dde1e7;
    }
    .wrapper {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .container {
        /* border: 2px solid blue; */
        /* background-color: grey; */
        /* background: linear-gradient(grey,brown); */
        height: 70vh;
        width: 60%;
        display: flex;
        /* position: relative; */
        /* align-items: center; */
    }

    .innercontainer {
        width: 50%;
    }


    .innercontainer-2 {
        /* background-color: hotpink; */
    }

    .innercontainer-1 {
        /* background-color: indianred; */
        /* background-color:rgb(134, 75, 134); */
        /* background-color:#dde1e7; */
        background-color: grey;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, , blue, alpha);
    }

    .pannel {
        /* background-color: lawngreen; */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pannel-3 {
        /* position: relative; */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute; */
        /* top: 10px; */
    }

    #once {
        width: 10%;
        height: 10%;
    }
    #once-1{
        width: 10%;
        height: 10%; 
        background-color:azure;
        color: chocolate;
    }

    .active {
        /* background-color: blueviolet; */
    }


    .innercontainer-2 {
        /* background-color: indianred */
        /* background-color: rgb(235, 219, 219); */
        /* background-color: rgb(182, 174, 174); */
        background-color: grey;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -3px -3px 7px pink, 3px 3px 5px plum; 
    }

    .pannel {
        /* background-color: lawngreen */
        height: 33.33%;
        margin: 2px;
    }

    .pannel-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .one {
        /* background-color: mediumspringgreen; */
        height: 30%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .pannel-2 {
        justify-content: center;
        display: flex;
    }

    .two {
        /* background-color: maroon; */
        width: 20%;
        height: 40%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .pannel-3 {
        /* position: relative */
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        /* background-color: lightseagreen; */
        /* margin: 1px; */
        /* position: absolute */
        /* top: 10px */
    }


    .buttons {
        background-color: chartreuse;
        position: absolute; 
        /* left: 370px; */
        position: relative;
    
    }

    .button {
        /* background-color: coral; */
        margin: 1px;
        
        /* position: absolute; */
    }
    .but-1{
        position: absolute;
        right: 370px;
        top: 150px;
       
    }
    .but-2{
        position: absolute;
        right: 370px;
        top: 100px;
       
    }
    .but-3{
        position: absolute;
        right: 370px;
        /* top: 0px; */
        bottom: 45px;
       
    }
    .but-4{
        position: absolute;
        right: 370px;
        /* top: 0px; */
        bottom: 190px;
       
    }
    
    .klk{
        height: 35px;
    }
    .klk-1{
        height: 65px;
        width: 65px;
        border: 2px solid blue;
    }

    .active{
        background-color:azure;
        color: chocolate;
    }
/* </style> */
